extends layout

block content
    .jumbotron.landing-page
        .container
            h1.text-center.main-title corbo
                span.glyphicon.glyphicon-apple
            p.text-center Welcome to a better way to schedule your team
        .row.login-container
            .col-md-8.col-centered
                .row
                    .col-md-6
                        .container.logins
                            h3 New?
                            p.text-muted Find out how easy scheduling your team can be
                            .container
                                a.btn.btn-primary.pull-right(href="/signup") Sign Up...
                    .col-md-6
                        .container.logins
                            h3 ... or Returning?
                            p.text-muted Welcome back! Sign in and we'll get to work
                            .container
                                a.btn.btn-primary.pull-right(href="/login") Sign In...
