doctype html
html(lang='en' ng-app="corbo")
    head
        meta(charset="utf-8")
        title Corbo
        include partials/header

    body
        block content
        
        include partials/footer