doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        title Final Project
        include partials/header

    body
        block content
        
        include partials/footer