extends layout

block content
    .jumbotron.landing-page
        .container
            h1.text-center.main-title corbo
                span.glyphicon.glyphicon-apple
        .container.signup-form.col-centered
            form(action="/auth/login", method="POST").form.row
                .form-group.col-md-10
                    label(for="username")
                    input.form-control(type="text", name="username", placeholder="username...")
                .form-group.col-md-10
                    label(for="email")
                    input.form-control(type="password", name="password", placeholder="password...")
                .form-group.col-md-5.clearfix
                    input.btn.btn-primary(type="submit", value="Submit...")
        .container
            if error
                h3.text-center= error