.modal-header
    h3.modal-title Create an Event
.modal-body
    form.form(novalidate)
        .form-group
            input(type="date", ng-model="event.date" required)
        .form-group(ng-repeat="category in categories")
            label(ng-model="categories[$index].category") {{categories[$index].category}}
            .checkbox
                label
                    {{categories[$index].name}}
                    input(type="checkbox", ng-model="categories[$index].name", value="{{categories[$index].name}}", required) 
.modal-footer
    button.btn.btn-primary.pull-left(ng-click="template()") save as template...
    button.btn.btn-info(ng-click="confirm()") save...
    button.btn.btn-default(ng-click="cancel()") cancel...