.modal-header
    h3.modal-title Create an Event
.modal-body
    form.form(name="createEvent" novalidate)
        .form-group
            datepicker(ng-model="event.date", required)
        .form-group(ng-repeat="category in categories")
            {{category.category}}
            .radio(ng-repeat="name in category.name")
                label(for="{{category.name[$index]}}")
                    input(type="radio" value="{{category.name[$index]}}" ng-model="event[category.category]") 
                    {{category.name[$index]}}
.modal-footer
    button.btn.btn-primary.pull-left(ng-click="template()") save as template...
    button.btn.btn-info(ng-click="confirm()") save...
    button.btn.btn-default(ng-click="cancel()") close...