.modal-header
    h3.modal-title Create an Event
.modal-body
    form.form(name="createEvent" novalidate)
        .form-group
            datepicker(ng-model="event.date", required)
        .form-group(ng-repeat="category in categories")
            label {{category.category}}
            .checkbox(ng-repeat="name in category.name")
                label(for="{{category.name[$index]}}")
                    input(type="checkbox", name="{{category.category}}", ng-true-value="{{category.name[$index]}}", ng-model="event[category.category]") 
                    | {{name.first}} {{name.last}}
.modal-footer
    .checkbox.pull-left
        label
            input(type="checkbox", ng-model="template", ng-true-value="'persisting'", ng-false-value="'resetting'")
            | Template (data is {{template}})
    button.btn.btn-primary(ng-click="confirm()") save...
    button.btn.btn-default(ng-click="cancel()") close...
    //- .checkbox(ng-repeat="name in category.name")
    //-     label(for="{{category.name[$index]}}")
    //-         input(type="checkbox", ng-true-value="{{category.name[$index]}}", ng-model="event[category.category]") 
    //-         | {{category.name[$index].first}} {{category.name[$index].last}}