extends layout

block content
    .jumbotron.landing-page
        .container
            h1.text-center.main-title corbo
                span.glyphicon.glyphicon-apple
        .container.signup-form.col-centered
            form(action="/auth/signup", method="POST").form.row
                .form-group.col-md-10
                    label(for="email")
                    input.form-control(type="text", name="email", placeholder="Email...")
                .form-group.col-md-4
                    label(for="username")
                    input.form-control(type="text", name="username", placeholder="username...")
                .form-group.col-md-4
                    label(for="email")
                    input.form-control(type="text", name="password", placeholder="password...")
                .form-group.col-md-5
                    input.btn.btn-info(type="submit", value="Submit...")