.modal-header
    h3.modal-title Team Members
.modal-body
    table.table.table-striped.table-responsive
        thead
            tr
                th Remove
                th Name
                th Email
                th Phone
                th Available Categories
        tbody
            tr(ng-repeat="member in members")
                td: a.btn.btn-danger.btn-xs.glyphicon.glyphicon-remove(ng-click="deletePerson($index, member._id)")
                td {{member.name.first}} {{member.name.last}}
                td: a(ng-href="mailto:{{member.email}}?subject=Hello%20from%20your%20corbo%20team") {{member.email}}
                td {{member.phone}} 
                td
                    span {{member.categories.join()}}
                    //- span(ng-repeat="category in member.categories") {{category}}
.modal-footer
    button.btn.btn-default(ng-click="cancel()") close...