accordion(close-others="true")
    accordion-group(ng-repeat="event in events | orderBy: 'date'" is-open="status.open")
        accordion-heading {{event.date | date: 'MMMM d'}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
        .container.row.accordion-rows
            .container.col-md-3.center-block.cards(ng-repeat="category in event.people")
                .container
                    .modal-header 
                        h3 {{category.category}}
                    .modal-body
                        .container
                            p.lead {{category.name}}
                    .modal-footer
                        .dropdown(dropdown, on-toggle="toggled(open)")
                            button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", dropdown-toggle, ng-click="sortPeople(category.category, category.name)") find a sub...
                                | &nbsp;
                                span.caret
                            .container.dropdown-menu(role="menu")
                                .container.sub-cards
                                    ul.list-unstyled
                                        li.replacement-items(ng-repeat="replacement in replacements")
                                            a.lead(ng-click="replace(replacement, category.category, event, $parent.$index)") {{replacement.name.first}}
                                            br
                                            a(ng-href="mailto:{{replacement.email}}?subject=Can%20you%20sub?") {{replacement.email}}
                                            br
                                            | {{replacement.phone}}
