.nav, .pagination, .carousel, .panel-title, a { 
    cursor: pointer; 
}
html {
    min-height: 100%;
}
body {
    background: radial-gradient(ellipse at center, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
}
.jumbotron.calendar-accordion {
    background-color: rgba(255,255,255,0.9);
}
.login-container {
    margin-top: 60px;
}
.jumbotron.landing-page {
    background-color: rgba(255,255,255,0);
    color: black;
    margin-top: 50px;
}
.logins {
    background: rgba(255,255,255,1);
}
.container.logins {
    border-radius: 10px;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.col-centered {
    float: none;
    margin: auto;
}
.signup-form {
    width: 40%;
}
.ng-invalid.ng-dirty {
    border-color: red;
}
.ng-valid.ng-dirty {
    border-color: green;
}
.cards>.container {
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 6px 8px 20px -8px
}
.navbar {
    margin-top: 35px;
}
.jumbotron {
    background: #f8f8f8;
    color: #454545;
}
#brand {
    color: rgba(44,123,178,1);
    font-size: 20px;
}
span.glyphicon.nav-icons {
    color: rgba(44,123,178,1);
}
.navbar.navbar-default {
    font-size: 16px;
}
.panel-default>.panel-heading {
    background: rgba(44,123,178,1);
    color: #ffffff;
    border-radius: 5px;
}
.accordion-rows {
    padding-left: 5%;
}
.modal-header>h3 {
    margin: 0;
}
.modal-header {
    padding: 12px;
}
.form.row {
    margin-right: -36px;
    margin-left: 54px;
}
.sub-cards {
    margin-top: 10px;
}
.center-block.cards {
    margin-bottom: 26px;
}
.replacement-items {
    border-bottom: 1px solid #ccc;
}