.nav, .pagination, .carousel, .panel-title, a { 
    cursor: pointer; 
}
.landing-page {
    background: peachpuff;
    height: 100%;
    width: 100%;
    position: absolute;
}
.logins {
    background: #fff;
}
.container.logins {
    border-radius: 10px;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.col-centered {
    float: none;
    margin: auto;
}
.signup-form {
    width: 40%;
}
.ng-invalid.ng-dirty {
    border-color: red;
}
.ng-valid.ng-dirty {
    border-color: green;
}